.My-intro {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    text-align: justify;
}
.intro {
    font-size: calc(12px + 0.5vw)
}
.image-container {
    display: flex;
    justify-content: center;
}
.image-container img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    max-width: 500px;
    max-height: 500px;
}
@media (max-width:912px) {
    .My-intro {
        display: grid;
        grid-template-columns: 1fr;
    }
    .intro {
        font-size: calc(10px + 1.2vmin);
    }
}